body {
  background: #86b5eb;
}

h1 {
  background-color: #ffc524;
  font-size: 35px;
  font-family: arial,sans-serif;
  color: ##2b4063;
  height: 40px;
  padding: 1px;
  text-align: center;
}

h2 {font-size: 24px;
  font-family: arial,sans-serif;
  color: ##2b4063;
  text-align: center;
}

h3 {font-size: 20px;
  font-family: arial,sans-serif;
  color: ##2b4063;
  text-align: left;
}

h4 {font-size: 16px;
  font-family: arial,sans-serif;
  color: ##2b4063;
  text-align: left;
}

p {
    font-family: arial,sans-serif;
}

/* --- Nav Bar --- */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2b4063;
  font-family: arial,sans-serif;
  border: 1px solid #2b4063
}

nav li {
  float: center;
  text-align : center;
    border-bottom : 1px solid #555;
}

li:last-child {
    border-bottom : none;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 9px 9px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #ffc524;
}

footer {font-size: 14px;
  font-family: arial,sans-serif;
  color: ##2b4063;
  text-align: center;
}